section {
  /* background-color: aqua; */
  margin: 10px;
}
label {
  margin: 5px 0;
  font-size: larger;
  font-weight: 600;
  color: rgb(53, 17, 17);
}
input {
  height: 3.5vh;
  width: 18vw;
  color: #0e0c02;
  font-size: large;
  font-weight: 500;
  background-color: rgb(60, 133, 85);
}
header {
  display: flex;
  justify-content: space-between;
}
header section {
  display: flex;
  flex-direction: column;
}
header span {
  background-color: aqua;
  align-items: start;
}
.education div {
  display: flex;
  justify-content: space-between;
}
.education section {
  display: flex;
  flex-direction: column;
}
.experience div {
  display: flex;
  justify-content: space-between;
}
.experience section {
  display: flex;
  flex-direction: column;
}
