section {
  /* background-color: aqua; */
  margin: 10px;
}
label {
  margin: 5px 0;
  font-size: larger;
  font-weight: 600;
  color: rgb(53, 17, 17);
}
input {
  height: 3.5vh;
  width: 25vw;
  color: #0e0c02;
  font-size: large;
  font-weight: 500;
  background-color: rgb(60, 133, 85);
}
span {
  background-color: aqua;
  min-width: 30vw;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-right: 25vw;
}
header {
  display: flex;
  justify-content: space-between;
}
header section {
  display: flex;
  flex-direction: column;
}

.education div {
  display: flex;
  justify-content: space-between;
}
.education section {
  display: flex;
  flex-direction: column;
}
.experience div {
  display: flex;
  justify-content: space-between;
}
.experience section {
  display: flex;
  flex-direction: column;
}
